:root {
  font-family: "Roboto", sans-serif; /* Modern font for a professional look */
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: #333; /* Text color */
  background-color: #d3d3d3; /* Grey background color */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #d3d3d3; /* Grey background color */
  color: #333;
}

h1 {
  font-size: 3em; /* Larger heading for prominence */
  font-weight: 500;
  color: #212529;
  margin-bottom: 30px;
}

a {
  font-weight: 500;
  color: #0056b3; /* Modern blue */
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #003d80; /* Darker blue for hover */
}

button {
  border-radius: 5px;
  border: 1px solid #007bff;
  padding: 1em 2em;
  font-size: 1.2em;
  font-weight: 500;
  background-color: #007bff; /* Button color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* Darker blue for hover */
  border-color: #003d80;
}

button:focus,
button:focus-visible {
  outline: 3px solid #007bff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background-color: #d3d3d3; /* Grey background color */
  }
  a:hover {
    color: #003d80;
  }
  button {
    background-color: #007bff;
    border-color: #007bff;
  }
}
